#title1 {
    position: relative;
    text-align: center;
}

#title2 {
    position: relative;
    text-align: center;
}

#successImage {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none;
}