<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Totp</title>
	<link rel="stylesheet" href="">
</head>
<body>

    <h1>Totp</h1>

    <div>
        <img src=<%= qr_code %>>
        <br>
        <label>Plase scan this QR-Code to continue</label>

        <form action="/totp" method="post">
            <input id="userToken" name="userToken" value="">
            <button type="submit">Submit</button>
        </form>
    </div>


</body>
</html>
